
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px
}

h1 {font-size: 22px;}
h2 {font-size: 20px;}
h3 {font-size: 16px;}

.bold-text {font-weight: bold; }
.red-text {color: red;}
.purple-text {color: purple;}

#top-ad {
	background-color: yellow;
	color: red;
}
a:link {color:red; }
a:visited {color:purple;}
a:active {color:black;}
a:hover {color: green;}
article h2 {font-size: 16px;
	font-weight:bold;
	color:green;
}
article p:first-child {font-weight: bold;}
article p:nth-child(3) {color: grey}
article p:last-child {color: cyan; font-size: 30px;}
article::first-line {font-style:italic;}
h3::first-letter {font-size: 45px; font-style: roman}
h2::selection {color: red; font-size: 50px;}
p::before {
	content: "NOTE: ";
	font-weight: bold;
	color: red;
}
p::after {
	content: "There is AFTER";
	font-style: italic;
	background-color: black;
	color: yellow;
	}
